body {
    background-color: #1B1B27;
    color: #46BAA7;
    font-family: 'Space Grotesk', sans-serif;
}

#foto-de-perfil {
    border-radius: 50%;
}

h1, h3 {
    color: #6190D3;
}

h1 {
    font-size: 35px;
}

#sobre {
    font-size: 15px;
}

li {
    list-style-type: none;
}

.li-orgulho {
    font-size: 20px;
}

.button {
    color: #46BAA7;
    background-color: #8B7EAD;
    padding: 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0px;
}

.option-summary {
    color: #46BAA7;
    text-decoration: none;
}